$text_2_400: var(--text-2-400, #d4d7d3);
$text_2_600: var(--text-2-600, #c9ccbe);
$text_2_700: var(--text-2-700, #bdbfac);
$primary_500: var(--primary-500, #6288db);
$font-family: "Quattrocento Sans", sans-serif;

.experience-item:not(:first-of-type) {
    margin-top: 10rem;
}

.experience-item {
    min-height: 800px;

    .quote {
        display: none;
        quotes: "«" "»";
    }

    .circle {
        position: relative;
        width: 19.5625rem;
        height: 19.5625rem;
        background: var(--background-100, #323548);
        border-radius: 19.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -3.25rem;
    }

    .year {
        h1 {
            font-size: 5.25rem;
            letter-spacing: 0.1575rem;
        }
    }

    .line {
        position: absolute;
        text-align: left;
        top: 24.75rem;
        height: 20.125rem;
        border-left: 0.125rem solid var(--text-1-600);
        display: flex;
        flex-direction: column-reverse;

        .content {
            position: relative;
            bottom: 0;
            right: 0;
            margin: 0 1.06rem;
        }

        h3 {
            color: $primary_500;
            font-size: 1.75rem;
            letter-spacing: 0.0525rem;
            line-height: 2.8rem;
        }

        .company {
            display: block !important;
            color: $text_2_400;
            font-size: 1.125rem;
            line-height: 1.8rem;
            letter-spacing: 0.03375rem;
        }
    }

    .description {
        color: $text_2_700;
        font-size: 1.125rem;
        line-height: 1.8rem;
        letter-spacing: 0.03375rem;
    }
}

.experience-item.lg {
    .circle {
        width: 21.3125rem;
        height: 21.3125rem;
        left: -3.89rem;
    }
}

.experience-item.right {
    .circle {
        left: unset;
        right: calc(18.76rem - 100svw);
    }

    .line {
        right: 3rem;
        text-align: right;
        border-left: none;
        border-right: 0.125rem solid var(--text-1-600);
    }
}

.experience-item.right.lg {
    .circle {
        right: calc(20rem - 100svw);
    }
}

.experience-item.height-1 {
    .line {
        height: 22.125rem;
    }
}

.experience-item.height-2 {
    .line {
        height: 25.125rem;
    }
}

.experience-item.height-3 {
    .line {
        height: 29.125rem;
    }
}

.experiences-item {
    .year {
        color: $text_2_700;
    }
}

@media (min-width: 768px) {
    .experience-item {
        position: relative;

        .line {
            width: 21.6875rem;
            left: calc((19.5625rem) / 3);
            top: 15rem;
        }

        .quote {
            position: absolute;
            font-family: $font-family;
            font-size: 1.4375rem;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0.48875rem;
            display: block;
            top: calc(19.5625rem / 2.6);
            width: 20rem;
            left: 18.25rem;
            color: $text_2_600;
        }
    }

    .experience-item.right.horizontal {
        .line {
            position: absolute;
            border-right: 0;
            border-bottom: 0.125rem solid var(--text-1-600);
            width: 34.5rem;
            left: unset;
            right: 6.88rem;
            top: 4.37rem;
            height: unset;
            padding-bottom: 1.87rem;
            flex-direction: column;

            .content {
                width: 20rem;
                right: 2.3rem;
            }
        }

        .quote {
            left: calc(100svw - 42.2125rem);
            right: unset;
            text-align: right;
            top: 18rem;
        }
    }

    .experience-item.centered.vertical-top {
        .circle {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .line {
            --border-height: 20rem;
            height: var(--border-height);
            top: -15.5rem;
            left: calc((100svw - 21.6875rem) / 2 - 10.84375rem);
            border-left: 0;
            text-align: right;
            flex-direction: column;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0.125rem;
                height: var(--border-height);
                background: var(--text-1-600);
            }

            .content {
                right: 0.88rem;
            }
        }

        .quote {
            left: unset;
            right: calc((100svw - 21.8125rem) / 2 - 11rem);
            top: -15rem;
        }
    }

    .experience-item.left-md {
        .circle {
            left: -3.12rem;
            right: unset;
        }

        .line {
            position: absolute;
            border-left: unset;
            border-right: unset;
            border-bottom: 0.125rem solid var(--text-1-600);
            width: 37rem;
            height: unset;
            padding-bottom: 1.87rem;
            flex-direction: column;
            text-align: left;
            top: 3.37rem;

            .content {
                position: absolute;
                width: 22.25rem;
                bottom: 1.87rem;
                margin: 0;
                right: 0;
            }
        }

        .quote {
            width: fit-content;
            top: 7.024038rem;
            left: 21.25rem;
        }
    }

    .experience-item.centered.vertical-bottom {
        .circle {
            left: unset;
            margin: 0 auto;
        }

        .line {
            --border-height: 29.875rem;
            height: var(--border-height);
            // top: -5.25rem;
            left: calc(((100svw - 21.6875rem) / 2) - 10.84375rem);
            border-left: 0;
            text-align: right;
            flex-direction: column-reverse;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0.125rem;
                height: var(--border-height);
                background: var(--text-1-600);
            }

            .content {
                right: 0.88rem;
            }
        }

        .quote {
            bottom: 5rem;
            width: 20rem;
            left: calc((100svw + 3.3125rem) / 2);
            top: unset;
        }
    }
}

@media (min-width: 1200px) {
    .experience-item {
        .circle {
            width: 32.8125rem;
            height: 32.8125rem;
        }

        &.lg {
            .circle {
                width: 33.9375rem;
                height: 33.9375rem;
            }
        }

        .year {
            h1 {
                font-size: 8.125rem;
                line-height: 90%;
                letter-spacing: 0.08125rem;
                user-select: none;
            }
        }

        .line {
            height: 27.1875rem;
            left: calc(32.8125rem - 19.6875rem);
            top: 22rem;

            .content {
                h3 {
                    font-size: 2.5rem;
                    line-height: 160%;
                }

                .company {
                    font-size: 1.4375rem;
                    line-height: 160%;
                }

                .description {
                    font-size: 1.25rem;
                    line-height: 160%;
                }
            }
        }

        .quote {
            font-size: 2.125rem;
            width: fit-content;
        }

        &.right.horizontal {
            .circle {
                right: calc(33.9375rem - 100svw);
            }

            .line {
                top: 11.37rem;
                right: 17rem;
                left: unset;
                width: 49.875rem;

                .content {
                    width: 28rem;
                }
            }

            .quote {
                left: calc(100svw - 56.6rem);
                top: 25rem;
            }
        }

        &.centered.vertical-top {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 10rem;

            .circle {
                width: 28.4375rem;
                height: 28.4375rem;
                background: var(--background-100);
            }

            .line {
                --width: 30.6875rem;
                --border-height: 24.1875rem;
                top: 3rem;
                left: calc((100svw - var(--width)) / 2 - 15.34375rem);
                width: var(--width);
            }

            .quote {
                right: calc((100svw - 30.6875rem) / 2 - 18rem);
                top: 3.3rem;
                width: 31rem;
            }
        }

        &.left-md {
            display: flex;
            align-items: flex-end;

            .line {
                width: 49.875rem;
                top: 25rem;
            }

            .quote {
                left: 40.875rem;
                top: unset;
                bottom: 18rem;
            }
        }

        &.centered.vertical-bottom {
            min-height: 1000px;

            .line {
                --width: 31rem;
                width: var(--width);
                left: calc((100svw - var(--width)) / 2 - var(--width) / 2);
                top: 27.75rem;
            }

            .quote {
                width: 35rem;
            }
        }
    }
}
