.contact {
    margin-bottom: 3.62rem;
}

.contact .title {
    text-align: center;
}

.contact a {
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 2rem;
    letter-spacing: 0.0375rem;
}

.contact .email,
.contact .github,
.contact .linkedin,
.contact .twitter {
    margin-top: 3.13rem;
}

@media (min-width: 768px) {
    .contact {
        margin-bottom: 6.31rem;
    }

    .contact a {
        font-weight: 700;
        letter-spacing: 0.33063rem;
    }

    .contact-item {
        font-size: 3.1875rem;
        letter-spacing: 0.09563rem;
        line-height: 160%;
    }
}
