.experiences {
    position: relative;
    margin-top: 6.59rem;

    .title {
        margin-bottom: 4rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 768px) {
    .experiences {
        .title {
            text-align: center;
        }
    }
}
