.experiences {
    position: relative;
    margin-top: 6.59rem;
}

.experiences .title {
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .experiences .title {
        text-align: center;
    }
}
