.project-showcases {
    margin-top: 9.31rem;
}

.project-showcases h3.display {
    margin-top: 0.44rem;
    margin-bottom: 0.44rem;
    line-height: 120%;
}

.project-showcases p.caption {
    color: var(--text-2-600);
    letter-spacing: 0.24438rem;
    opacity: 0.5;
}

.showcase-item {
    --clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    --clip-path-right: polygon(0 0, 100% 0, 100% 0, 0 0);
    text-align: left;
    margin-top: 3.13rem;
    clip-path: var(--clip-path);
}

.showcase-item.right {
    clip-path: var(--clip-path-right);
}

@media (min-width: 992px) {
    .project-showcases {
        text-align: center;
    }
}
