.about {
    margin-top: 9.19rem;
}

.about.container {
    width: unset;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.about .heading {
    color: var(--text-2-base);
    font-family: Quattrocento Sans;
    font-size: 1.4375rem;
    font-weight: 700;
    letter-spacing: 0.33063rem;
    text-transform: uppercase;
}

.about p {
    color: var(--text-2-base);
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.045rem;
    hyphens: auto;
    margin-top: 3.12rem;
}
