.hero .col {
    width: 100dvw;
}

.hero-text {
    margin: 15svh auto 0;
}

.hero-text .rest {
    position: relative;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 120%;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
}

.line {
    position: relative;
    text-align: center;
}

.mask {
    display: inline-block;
    transform: translateY(70%);
}

@media (min-width: 992px) {
    .hero-text .line,
    .hero-text .rest {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        font-size: 130px;
        font-weight: 600;
        user-select: none;
    }

    .first-letter {
        display: inline-block;
        transform: translateY(-100%); /* Hide the letters initially */
    }

    .rest span.mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--background-base);
        width: 100%;
        z-index: 3;
    }

    .rest span {
        position: relative;
        display: inline-block;
        z-index: 2;
    }
}
