@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600");

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-base: #0e0f17;
    --primary-base: #749bff;
    --text-2-base: #e2e5db;
}

body {
    font-family: "Jost", sans-serif;
    background-color: var(--background-base);
    line-height: 1;
}

header {
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
}

.line {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    font-size: 130px;
    user-select: none;
}

.first-letter {
    display: inline-block;
    transform: translateY(-100%); /* Hide the letters initially */
}

.rest {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.rest span.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-base);
    width: 100%;
    z-index: 3;
}

.rest span {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.text-base {
    color: var(--text-2-base);
}

.text-primary {
    color: var(--primary-base);
}
