@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-100: #323548;
    --background-200: #262736;
    --background-300: #1a1c25;
    --background-400: #13141c;
    --background-base: #0e0f17;
    --background-600: #0b0c13;
    --background-700: #080910;
    --text-1-100: #f5f6f4;
    --text-1-200: #e9ebe8;
    --text-1-base: #dee0d6;
    --text-1-400: #d3d5c4;
    --text-1-500: #c8cab2;
    --text-1-600: #bdc0a0;
    --text-1-700: #b2b58e;
    --text-1-100: #f7f8f6;
    --text-1-200: #ebedea;
    --text-1-300: #e0e2df;
    --text-1-400: #d4d7d3;
    --text-2-base: #e2e5db;
    --text-1-600: #c9ccbe;
    --text-1-700: #bdbfac;
    --primary-base: #749bff;
    --primary-1-500: #6288db;
    --primary-1-600: #4f74b8;
    --primary-1-700: #3c6194;
    --secondary-1-100: #d6e1ff;
    --secondary-1-200: #b9c7ff;
    --secondary-1-300: #9cade5;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Jost", sans-serif;
    background-color: var(--background-base);
    line-height: 1;
}

.text-base {
    color: var(--text-2-base);
}

.text-primary {
    color: var(--primary-base);
}
